# ignore log files
*.jou
*.log

# ignore simulation output files
*.out
*.vcd
*.lxt

# ignore vivado-generated ip
/ip
/src/ip
/sim/ip

# ignore synthesis output files
/obj
/.Xil

# ignore build client script
lab-bc.py
