# ignore log files
*.jou
*.log

# ignore simulation output files
*.out
*.vcd
*.lxt

# ignore vivado-generated ip
/sim/ip/*.v
/ip

# ignore synthesis output files
/obj
/.Xil

# ignore build client script
lab-bc.py
