# ignore log files
*.jou
*.log

# ignore simulation output files
*.out
*.vcd

# ignore vivado-generated ip
/sim/ip/*.v

# ignore synthesis output files
/obj
/.Xil

# ignore build client script
lab-bc.py
